@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ul>
    @foreach(var item in ViewData["customer"] as IList<Customer>)
            {
                <li>
                    @item.CustomerID
                    @item.CustomerName
                    @item.CustomerAddress
                </li>
            }
</ul>